.title {
  margin-bottom: 30px;
}

.content {
  display: block;
}

.image {
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;

  img {
    width: 100%;
  }
}

.description {
  font-size: 16px;
}
