@import '../../styles/variables';

.root {
  background: $main-color;
  padding: 20px 0;
}

.link {
  color: #fff;
  padding: 0 15px;

  &:first-of-type {
    padding-left: 0;
  }

  &:hover {
    color: $second-color;
    text-decoration: none;
  }
}
