$media-sm: 'min-width: 576px';
$media-md: 'min-width: 768px';
$media-lg: 'min-width: 992px';
$media-xl: 'min-width: 1200px';

$main-color: #00800f;
$main-color-hover: #00c113;
$second-color: #f0ec00;
$second-color-hover: #bbb700;
